/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --color-background: #000028;
  --color-header-hover: #ff007066;
  --color-header-title: #db00ff;
  --color-accent: #ff0070;
  --color-zone-decorate: #ff0070;
  --color-block-title: #ff0070;
  --color-decor: #000028;
  --color-block: #f1b2ce;
  --color-shadow: #ff0070;
  --color-header: #ff0070;
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .rec-decoration {
  display: flex;
}
