/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-background);
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  align-items: center;
  padding: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 25px;
  width: 25px;
  border-block-end: 1px solid var(--color-zone-decorate);
  border-inline-start: 1px solid var(--color-zone-decorate);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  height: 25px;
  width: 25px;
  border-block-start: 1px solid var(--color-zone-decorate);
  border-inline-end: 1px solid var(--color-zone-decorate);
}

.rec-decoration {
  position: absolute;
  right: 19px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--color-accent);
  font-family: "IBM Plex mono", monospace;
  font-weight: normal;
  font-size: 18px;
}

.rec-decoration:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--color-accent);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-accent);
}

.header__theme-menu {
  height: max-content;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "IBM Plex mono", monospace;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  border-block-end: 1px solid transparent;
  color: var(--color-header);
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  inline-size: 70px;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-header-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--color-header);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-header);
  pointer-events: none;
}

.title__text {
  color: var(--color-header-title);
  font-size: var(--header-text-size-desk);
  line-height: 82.5%;
  font-family: "IBM Plex mono", monospace;
  text-shadow: 4px 4px 0px var(--color-shadow);
}

.title-decor {
  height: max-content;
  color: var(--color-decor);
  background-color: var(--color-accent);
  font-family: "IBM Plex mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.header__title {
  max-width: 491px;
  justify-self: end;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px;
}

.title {
  color: var(--color-block-title);
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
}

.subtitle {
  margin-block-start: 23px;
}

.text__block {
  padding-block-start: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "IBM Plex mono", monospace;
}

.horizontal {
  display: flex;
  flex-direction: column;
}

.text__block-description {
  color: var(--color-block);
  font-size: 18px;
  line-height: 23.4px;
}

.text__block-description a {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--color-accent);
}

.text__block-description a:hover {
  border-bottom: 1px solid currentColor;
}

.text__block-description a:focus {
  outline: none;
}

.text__block-description a:focus-visible {
  border: 1px solid var(--color-block);
}

.thin {
  font-weight: 400;
}

.image__section {
  display: grid;
  gap: 10px;
}

.image__content-list {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  min-height: 100vh;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .header__title {
    justify-self: end;
    align-self: center;
    max-inline-size: 365px;
  }

  .title__text {
    margin-left: -20px;
  }

  .rec-decoration {
    top: 21px;
    right: 28px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .block {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-areas: "title text__block";
    gap: 20px;
  }

  .horizontal .title {
    max-width: min-content;
  }

  .horizontal {
    display: flex;
  }

  .subtitle {
    margin-block-start: 0;
  }

  .blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title {
    grid-area: title;
  }

  .text__block {
    grid-area: text__block;
    padding-block-start: 0;
  }

  .image__section .title-decor {
    margin-block-end: 10px;
  }

  .gallery__image {
    object-fit: cover;
  }

  .image__content-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .img-sunset {
    grid-column: span 2;
  }

  .img-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .img-audiotape {
    grid-row: 2 / 4;
  }

  .img-books {
    grid-area: 2 / 2;
  }

  .img-street {
    grid-column: 2 / 4;
  }

  .footer__text {
    margin: 0px;
    text-shadow: 2px 2px 0px var(--color-shadow);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "IBM Plex mono", monospace;
    gap: 10px;
  }

  .block {
    grid-template-columns: 315px 1fr;
  }

  .header__title {
    max-inline-size: 491px;
  }

  .horizontal {
    display: flex;
    flex-direction: column;
  }

  .horizontal .title {
    min-width: 315px;
  }

  .horizontal .blocks {
    display: flex;
    flex-direction: row;
  }

  .text__block {
    flex: 1;
  }
}
